modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
STRIPE_PRICE_STARTER_MONTHLY = "price_1TU6FyGOcsf8J09lot01Ih0x"
STRIPE_PRICE_STARTER_YEARLY = "price_1TU6FzGOcsf8J09ljmm1v6VT"
STRIPE_PRICE_PRO_MONTHLY = "price_1TU6G0GOcsf8J09lZDwHKJw7"
STRIPE_PRICE_PRO_YEARLY = "price_1TU6G0GOcsf8J09lSi6pmaMK"
STRIPE_PRICE_ELITE_MONTHLY = "price_1TU6G1GOcsf8J09lww9pih1g"
STRIPE_PRICE_ELITE_YEARLY = "price_1TU6G2GOcsf8J09l1QtpEvW2"
EMAIL_FROM = "Bryan.jones@efficiencystrengthtraining.com"
EMAIL_SUPPORT_TO = "Bryan.jones@trainchat.ai"
STRIPE_PRICE_TRAINCHAT_MONTHLY = "price_1Tn35DGOcsf8J09luBjtpksA"

[userenv.production]
ADMIN_SECRET = "eeb65552cd109f4d4c0e2115728b58620a66c018f8a8751adb359e2585dab641"
